#designers-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.left-col *,
.right-col * {
    color: var(--clr-dark-blue);
    max-width: 35ch;
}

.left-col li a,
.right-col li a,
li::marker {
    color: var(--clr-light-blue);
}

.left-col > h2,
.right-col > h2 {
    line-height: 1.3;
    text-wrap: balance;
}

#designer-content {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.section-separator-medium {
    border-bottom:  20px solid;
    border-image-source: url(/assets/Section_Border_Medium.png);
    border-image-slice: 20 20;
    border-image-repeat: round;
}

.section-separator-small {
    border-top:  10px solid;
    border-image-source: url(/assets/Section_Border_Small.png);
    border-image-slice: 10 10;
    border-image-repeat: round;
}